.container {
  max-width: 1080px;
  margin: 0 auto;
}

header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #0072b0;
  border-radius: .5em;
  margin-bottom: 1.5em;
}

.main {
  padding: 0 1.5em;
  background-color: #fff;
  border-radius: .5em;
}

.media {
  float: left;
  width: calc(50% - 1.5em);
  margin: 0 1.5em 1.5em 0;
  padding: 1.5em;
  background-color: #ddd;
  border-radius: .5em;
}

// 每个新行清楚上一行的浮动
.media:nth-child(2n + 1) {
  clear: left;
}

.media-image {
  float: left;
  margin-right: 1.5em;
}

.media-body {
  margin-top: 0;
  overflow: auto;
}

.media-body h4 {
  margin-top: 0;
}

//要给包含浮动的元素清除浮动，
// 而不是给别的元素，
// 比如浮动元素本身，或包含浮动的元素后面的兄弟元素。
.clearfix:before,
.clearfix:after{
  //display: table;
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}