.body-box {
  height: 100vh;
  background-color: #faf;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

header {
  color: #fff;
  background-color: #0072b0;
  border-radius: .5em;
}

main {
  display: block;

}

.container {
  display: flex;
}


.main {
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
  //box-sizing: border-box;
}

.sidebar {
  /*
  em单位的一致性更好
  这种方式不仅能够使用em指定间距，
  而且能让代码意图更明显。
  之后再看代码，可能看不出为什么使用29%，
  但是代码30% -1.5em则能提供线索，
  知道它是基于30%算出来的。
  width :29%;
  margin-left: 1%;
  */
  width: 30%;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
  //box-sizing: border-box;
}

.widget {
  //height: 50px;
  line-height: 4;
  font-size: 16px;
  //width: 100px;
  background-color: #abd;
  //padding: 1em 0;
  //vertical-align: middle;
  margin-bottom: 1em;

  img {
    width: 20px;
    height: 100%;
    //vertical-align: middle;
  }
}